# Ignore everything
*

# Except the following files and directories
!.gitignore
!composer.lock
!web/
!web/themes/
!web/modules/

# Ignore everything inside web/themes and web/modules, except custom directories
web/themes/*
!web/themes/custom/
web/modules/*
!web/modules/custom/

# Ensure we don't ignore subdirectories within custom directories
web/themes/custom/*
!web/themes/custom/**/
web/modules/custom/*
!web/modules/custom/**/
