# Ignore everything
*

# Except the following files and directories
!.gitignore
!composer.lock
!themes/
!modules/

# Ignore everything inside themes and modules, except custom directories
themes/*
!themes/custom/
modules/*
!modules/custom/

# Ensure we don't ignore subdirectories within custom directories
themes/custom/*
!themes/custom/**/
modules/custom/*
!modules/custom/**/
